# Workaround for Binder since pyproject.toml is not supported:
# - https://github.com/jupyterhub/repo2docker/issues/1427
# - https://repo2docker.readthedocs.io/en/latest/configuration/

vega-datasets==0.9.0

# feedzai-altair-theme
-e .
